.home-page{
    background-color:yellowgreen ;
    padding: 20px;
    border-radius: 5px;
}
.home-page img {
  width: 600px;
  border-radius: 20px;
}
.home-section{
    margin-left: 10px;
    margin-top: 100px;
    
}
.home-section button{
    padding: 8px 20px;
    background-color: tomato;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 8px;

}

